	<div id="wrapper">

		<section id="scoreboard-wrapper">
			<div id="scoreboard">				
				<h1>Map Attack!</h1>
				<h5 class="tagline">14 Players in Portland Oregon</h5>
				<!-- <a href="" id="join-game" class="button">Join Game</a> -->
			</div>
			<h2 id="red-score" class="red-score-value">-</h2>
			<h2 id="blue-score" class="blue-score-value">-</h2>
		</section>

		<section id="red-team-wrapper">
			<div id="red-team">
				<h2>Red : <span class="red-score-value">-</span></h2>
				<ol id="red-team-players" class="team-players"></ol>
			</div>
		</section>
			
		<section id="blue-team-wrapper">
			<div id="blue-team">
				<h2>Blue : <span class="blue-score-value">-</h2>
				<ol id="blue-team-players" class="team-players"></ol>
			</div>
		</section>

		<div id="map"></div>

		<nav id="top-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="http://geoloqi.com">Get Geoloqi</a></li>
			</ul>
		</nav>

		<footer>
			<p class="right">Powered by <a href="http://geoloqi.com">Geoloqi</a></p>
			<p class="left">Credits: <a href="http://aaronparecki.com">Aaron Parecki</a> // <a href="http://caseorganic.com">Amber Case</a> // <a href="http://kyledrake.net">Kyle Drake</a> // <a href="http://patrickarlt.com/">Patrick Arlt</a></p>
		</footer>
    
      </div> <!-- wrapper -->
    <input type="hidden" id="layer_id" value="<%=@game.layer_id%>" />