<html>
  <head>
  	<title>PacMap</title>
  	<script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
  	<script src="http://s.phono.com/releases/0.1/jquery.phono.js"></script>
  	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <style type="text/css">
    	body {
    		background-color: #53504e;
    		font-family: Helvetica, sans-serif;
    	}
    	table {
    		background-color: #3c3c39;
    		margin-top: 7px;
    	}
    	a {
    		color: #f16d3e;
    	}
    	.player {
    		background-color: #7f7f79;
    		padding: 3px;
    	}
    	.player .pic {
    		float: left;
    		margin-right: 5px;
    	}
    	.player .name {
    		font-size: 12pt;
    		color: #333; 
    		font-weight: bold;
    	}
    	.player .score {
    		color: #fffa48;
    		font-size: 16pt;
    	}
    	.player .end {
    		clear: both;
    	}
    </style>
  <script type="text/javascript" src="/game.js"></script>
  </head>
  <body>
    <table width="900">
      <tr>
      	<td colspan="2"><img src="/img/Pac-Map-PDX-Header.png" /></td>
      </tr>
    </table>

    <table width="900">
      <tr>
    	  <td width="600">
    		  <div id="map" style="width: 100%; height: 500px;"></div>
    	  </td>
    	  <td valign="top">
    		  <div style="margin-bottom: 5px;"><img src="/img/leaderboard-text.png" /></div>
    		  <div id="scoreboard">
    		  </div>
    	  </td>
      </tr>
    </table>

    <table width="900">
      <tr>
    	  <td colspan="2">
    		  <span style="float: right;"><a href="http://aaronparecki.com">Aaron Parecki</a> // <a href="http://caseorganic.com">Amber Case</a> // <a href="http://kyledrake.net">Kyle Drake</a> // <a href="http://www.pdxbrain.com/">Tyler Gillies</a> // <a href="http://maxogden.com">Max Ogden</a></span>
    	  </td>
      </tr>
    </table>
    
    <input type="hidden" id="layer_id" value="<%=@game.layer_id%>" />
  </body>
</html>