<div id="wrapper">
	<section id="scoreboard-wrapper">
		<div id="scoreboard">				
			<h1>Map Attack!</h1>

			<h5 class="tagline">You need to join a specific game to play.<br/> This is the index stub (for now).</h5>
			<!-- <a href="" id="join-game" class="button">Join Game</a> -->
		</div>
		<h2 id="red-score" class="red-score-value">-</h2>
		<h2 id="blue-score" class="blue-score-value">-</h2>
    </section>
</div>
