<div id="wrapper">
	<section id="scoreboard-wrapper">
		<div id="scoreboard">				
			<h1>Map Attack!</h1>
			<h5 class="tagline">MapAttack is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi</a> platform.</h5>
			<!-- <a href="" id="join-game" class="button">Join Game</a> -->
		</div>
    </section>
</div>

<div id="splash">
	<section>
		<div id="home-page" style="width: 700px; background: #f7f3ee; margin: 0 auto; border-left: 8px #f1eae1 solid; border-right: 8px #f1eae1 solid; padding: 8px;">
			<div style="margin-top: 130px; padding: 8px;"></div>
			
			<div style="margin: 0 auto; width: 640px;"><iframe src="http://player.vimeo.com/video/22818598?byline=0&amp;portrait=0" width="640" height="360" frameborder="0"></iframe></div>


			<div style="margin: 40px auto; width: 620px;">
			<table width="100%">
				<tr>
					<td width="60%">
						<h5>From our Blog</h5>
						<ul style="margin-left: 30px;">
							<li><a href="http://geoloqi.com/blog/2011/04/geoloqi-launches-mapattack-a-real-time-location-based-mobile-gaming-platform-of-awesomeness/">Geoloqi launches MapAttack!</a></li>
							<li><a href="http://geoloqi.com/blog/2011/04/mapattack-at-stanford-university-plus-gps-art/">MapAttack at Stanford University</a></li>
							<li><a href="http://geoloqi.com/blog/2011/04/mapattack-at-stanford-university-results-from-game-2/">Results from Game 2!</a></li>
						</ul>
					</td>
					<td width="40%">
						<table>
							<tr>
								<td rowspan="2"><div style="margin-right: 5px;"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" width="36" height="36" /></div></td>
								<td>Follow <a href="http://twitter.com/playmapattack">@playmapattack</a></td>
							</tr>
							<tr>
								<td>Follow <a href="http://twitter.com/geoloqi">@geoloqi</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			</div>

			<div style="width: 620px; margin: 0 auto;">
				<h5>Bring MapAttack to your city, school or company!</h5>
				Want to bring a game to your school or company? Contact us at mapattack at geoloqi dot com and we'll be glad to help you out! You can also follow <a href="http://twitter.com/playmapattack">@playmapattack</a> on Twitter for the latest games and news! We'll be bringing it to more campuses and cities starting in June 2011.
			</div>

			<div style="width: 620px; margin: 40px auto;">
				<h5>Contact Us</h5>
				<table class="contact-form" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td>Name</td>
						<td>Business Name</td>
					</tr>
					<tr>
						<td><input type="text" id="name" class="contact" /></td>
						<td><input type="text" id="business_name" class="contact" /></td>
					</tr>
					<tr>
						<td>Email</td>
						<td>Phone (optional)</td>
					</tr>
					<tr>
						<td><input type="text" id="email" class="contact" /></td>
						<td><input type="text" id="phone" class="contact" /></td>
					</tr>
					<tr>
						<td colspan="2">Message</td>
					</tr>
					<tr>
						<td colspan="2">
							<textarea style="width: 100%; height: 90px;" class="contact" id="message"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: right; padding-top: 8px;">
							<input type="button" id="submit" value="Submit" />
							<input type="hidden" name="source" value="MapAttack" id="source" class="contact" />
						</td>
					</tr>
				</table>

				<div id="thanks" style="display: none; font-size: 22pt; text-align: center; margin-top: 40px;">Thanks! We'll be in touch.</div>
			</div>
		
			<div style="margin-top: 50px;"></div>
		</div>
	</section>

	<footer>
		<p class="right">MapAttack is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi</a> platform.</p>
		<p class="left">Credits: <a href="http://aaronparecki.com">Aaron Parecki</a> // <a href="http://caseorganic.com">Amber Case</a> // <a href="http://kyledrake.net">Kyle Drake</a> // <a href="http://patrickarlt.com/">Patrick Arlt</a></p>
	</footer>
</div>

<script type="text/javascript">
$(function(){

	$("#submit").click(function(){
		$("#submit").attr("disabled", "disabled");
		
		var data = {};

		$(".contact-form .contact").each(function(i,e){
			data[$(e).attr("id")] = $(e).val();
		});

		$.post("/contact_submit", data, function(){
			$(".contact-form").hide();
			$("#thanks").show();
		});
	});
});
</script>