<html>
  <head>
  	<title>MapAttack</title>
	  <meta name="viewport" content="initial-scale=1.0">
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
  	<script type="text/javascript" src="/game.js"></script>
  	<script type="text/javascript" src="/game-common.js"></script>
  	
  	<% if request.path =~ /\/game\// %>
    	<% if ['iPhone', 'Android', 'iPod'].include?(request.env[Rack::MobileDetect::X_HEADER]) %>
    	  <script type="text/javascript" src="/mapattack-push.js"></script>
    	<% else %>
    	  <script type="text/javascript" src="/mapattack-web.js"></script>
    	<% end %>
  	<% end %>
  	
  	<link rel="stylesheet" type="text/css" href="/reset.css" />
  	<link rel="stylesheet" type="text/css" href="/style.css" />
  	
  	<% if Controller::GA_ID %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= Controller::GA_ID %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>