<html>
<head>
  <title>MapAttack</title>
  <meta name="viewport" content="initial-scale=1.0">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <% if Controller::GA_ID %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= Controller::GA_ID %>']);
      _gaq.push(['_trackPageview']);

      <% if request.path =~ /^\/$/ %>
      // geoloqi.com A/B Testing
      _gaq.push(['gwo._setAccount', 'UA-25750303-7']);
      _gaq.push(['gwo._trackPageview', '/0594274968/goal']);
      <% end %>

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
  <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.3.0/bootstrap-scrollspy.js"></script>
  <link rel="stylesheet" href="/bootstrap-1.2.1.min.css">
  <style type="text/css">
    body {
    }
    .media-grid span {
      margin: 0 20px;
    }
    .page-header {
      margin-top: 40px;
    }
    #main {
      padding-top: 40px;
    }
    .bloglinks li {
      font-size: 1.2em;
      line-height: 1.7;
    }
    .hero-unit {
      padding-top: 20px;
    }
    .hero-unit .caption {
      margin-top: 20px;
    }
    @media screen {
      .hidescreen {
        display: none;
      }
    }
    @media print {
      .hideprint {
        display: none;
      }
    }
  </style>
</head>
<body>
  
<div id="wrap">

  <div class="topbar hideprint" data-scrollspy="scrollspy">
    <div class="topbar-inner">
      <div class="container">
        <h3><a href="/">MapAttack!</a></h3>
        <ul class="nav">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#how-to-play">How To Play</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#source-code">Source Code</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" id="main">
    <img src="/img/mapattack-header.jpg" alt="MapAttack is a location-based game based on capturing and conquering virtual points on live city streets." />

    <section id="home">
      <div class="hero-unit">
        <h1 class="hidescreen">MapAttack!</h1>
        <p class="hidescreen">MapAttack is a location-based game based on capturing and conquering virtual points on live city streets.</p>
        <p class="caption">Thanks for contacting us! We'll be in touch shortly.</p>
      </div>
    </section>

  </div> <!-- /container -->

</div> <!-- wrap -->

  <footer id="footer">
    <div class="inner">
      <div class="container">
        <p>MapAttack is a real-time location-based GPS game powered by the <a href="http://geoloqi.com">Geoloqi platform</a>.</p>
      </div>
    </div>
  </footer>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

</body>
</html>