<h1>Edit Game</h1>

<%= partial :'admin/games/_address' %>

<form action="/admin/games/<%= @game.id %>" method="POST">
  <input name="_method" value="PUT" type="hidden">
  <%= partial :'admin/games/_form' %>
  <input value="Update" type="submit">
</form>