<h1>Edit Game</h1>

<style type="text/css">
	.coin {
		float: left;
		background: url(http://loqi.me/pdx-pacmap/coins-large.png) no-repeat;
		width: 18px;
		height: 18px;
		cursor: pointer;
		background-position: 0 -36px;
		margin: 3px;
	}
	.coin-20 {
		background-position: -18px -36px;
	}
	.coin-30 {
		background-position: -36px -36px;
	}
	.coin-50 {
		background-position: -54px -36px;
	}
	.coin-20.selected {
		background-position: -18px 0;
	}
	.coin-30.selected {
		background-position: -36px 0;
	}
	.coin-50.selected {
		background-position: -54px 0;
	}
	#pointToolbar {
		background: white;
		padding: 3px;
		position: absolute;
	}
	#lineToolbar {
		position: absolute;
		top: 8px;
		left: 100px;
		background: white;
		z-index: 1000;
		border: 1px #999 solid;
		-moz-box-shadow: 2px 2px 3px #777;
		-webkit-box-shadow: 2px 2px 3px #777;
		box-shadow: 2px 2px 3px #777;
	}
</style>



<div id="lineToolbar">
	<div style="padding: 3px;">
		<input type="button" id="newLine" value="Line" />
		<input type="button" id="editingCancel" value="Cancel" disabled="disabled" />
	</div>
</div>

<div style="display: none;" id="pointToolbar">
  <div style="width: 180px; padding-top: 10px;">
  	<div class="coin coin-10 selected" id="coin-10"></div>
  	<div class="coin coin-20" id="coin-20"></div>
  	<div class="coin coin-30" id="coin-30"></div>
  	<div class="coin coin-50" id="coin-50"></div>
  	<div style="float: right;"><input type="button" class="editPointDelete" style="font-size: 9pt;" value="Delete" /></div>
  </div>
</div>

<form action="/admin/games/<%= @game.id %>" method="POST">
  <input name="_method" value="PUT" type="hidden">
  <%= partial :'admin/games/_form' %>
  <input value="Update" type="submit">
</form>