<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>

<style type="text/css">
  #map_canvas { height: 50% }
</style>

<script type="text/javascript">
  $(function() {
    var latlng = new google.maps.LatLng(45.52, -122.681944);
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  });
  
  function computeRadius(){
    var center = map.getCenter();
    var northEast = map.getBounds().getNorthEast();
    var topMiddle = new google.maps.LatLng(northEast.lat(), center.lng());
    radius = google.maps.geometry.spherical.computeDistanceBetween(center, topMiddle);
    return radius;
  }
</script>

<h1>New Game</h1>

<form action="/game" method="POST">
  Name of the Game: <input name="game[name]" type="text">
  <br>
  Where is it (go to where you want the game to be centered, and zoom to the zoom level you want):
  <div id="map_canvas" style="width:50%; height:50%"></div>
  <input type="submit" value="Create">
</form>

<a href="javascript:alert(computeRadius())">CHECK</a>